.carousel-showmanymoveone .carousel-control {
   width: 4%;
   background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
  margin-left: -27px;
      background-color: #ff2b09;
}

.carousel-showmanymoveone .carousel-control.right {
  margin-right: -27px;
      background-color: #ff2b09;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
   display: none;
}

.carousel .carousel-item .col-xs-12 {
  padding: 0;
}

.carousel .carousel-item.active {
  display: inline-flex !important;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
   .carousel .carousel-item .col-xs-12:nth-last-child(-n+2) {
      display: none;
   }
}

@media all and (min-width: 768px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
   }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active.right,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active.left,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .carousel-item.left,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media all and (min-width: 992px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.6%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.6%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active.right,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.next {
      -webkit-transform: translate3d(16.6%, 0, 0);
      transform: translate3d(16.6%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active.left,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.prev {
      -webkit-transform: translate3d(-16.6%, 0, 0);
      transform: translate3d(-16.6%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .carousel-item.left,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .carousel-item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

.date-picker__date a.date-picker__link:hover {
    color: #929292;
}
.date-picker__wrap .date-picker__link:hover {
    color: #929292;
}
.date-picker .date-picker__link:hover {
    color: #4c4c4c;
}
a:active, a:hover {
    outline: 0;
}
.date-picker__link {
    background: #fff;
    color: #929292;
    border-left: 1px solid #ebebeb;
    display: block;
    height: 125px;
    position: relative;
}

.date-picker__date-weekday {
    font-size: 16px;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    white-space: normal;
}
.date-picker__date-day, .date-picker__date-month, .date-picker__date-weekday {
    display: block;
}
.date-picker__date-weekday, input.date-picker__location-input {
    font-family: "Times New Roman",Georgia,Serif;
    font-style: italic;
}
.date-picker__date-month {
    font-size: 30px;
    line-height: 30px;
    padding-top: 45px;
    text-transform: uppercase;
}
.date-picker__date-day, .date-picker__date-month, .date-picker__date-release {
    font-family: alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;
}
.date-picker__date-day {
    font-size: 44px;
    line-height: 34px;
}
.date-picker__date-day, .date-picker__date-month, .date-picker__date-release {
    font-family: alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;
}
.date-picker__date-day, .date-picker__date-month, .date-picker__date-weekday {
    display: block;
        text-align: center;
}


.item-date{
  border: 1px solid;
background-color: rebeccapurple;

}
.fandango-calender{
  color:white
}

.fandango-calender-click{
    background-color: goldenrod;
}

.fandango-calender:hover {
      background-color: goldenrod;
}


/*.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}*/

