.card {
  border-radius: 0;
}

.nav-pills .nav-link.active {
	background-color: darkorange;
}

.col-md-12 .star-rating {
	float: right;
}

.btn {
	border-radius: 0;
}

.dropdown .dropdown-item:hover {
	background-color: #dc3545;
}