.mop .subnav {
    background: 0 0;
}
.width-100 {
    width: 100%;
}
.subnav__title {
    margin-top: 20px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.heading-size-xl {
    font-size: 48px;
    line-height: 45px;
}
.heading-style-1 {
    display: block;
    color: #4c4c4c;

    font-family: alternate-gothic-no-1-d,"Futura Condensed","Arial Narrow",Arial,sans-serif;
}
.cta, .heading-style-1 {
    text-transform: uppercase;
}
.subnav__link-list {
    margin-bottom: 10px;
}


menu, ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.subnav__link-item {
    display: inline-block;
    margin-right: 36px;
}
.subnav__link-list .vertical-dropdown {
    margin-right: 0;
    position: relative;
}
.subnav__link-list .vertical-dropdown a {
    display: block;
    line-height: 1.2;
    padding: 4px 0 2px;
}

.subnav__link {

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.subnav__link-list .dropdown-nav {
    z-index: 50;
    display: none;
    background: #fff;
    margin-left: 0;
    position: absolute;
    left: 0;
    padding-bottom: 7px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #4AA7F6;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.mop__layout {
    overflow: hidden;
}
.mop__layout .mop__details-container {
    width: 320px;
}
.mop__details-container {
    width: 340px;
    margin-bottom: 10px;
}
.mop__ad-unit, .mop__content, .mop__details-container {
    float: left;
    padding: 0 10px;
}
.movie-details {
    width: 100%;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 1px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.movie-details__mop-link {
    display: block;
    float: left;
    overflow: hidden;
}

.movie-details__movie-img {
    height: 250px;
    width: 164px;
}
.visual-thumb {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .25s,-webkit-transform .25s;
    -moz-transition: opacity .25s,-moz-transform .25s;
    -ms-transition: opacity .25s,-ms-transform .25s;
    -o-transition: opacity .25s,-o-transform .25s;
    transition: opacity .25s,transform .25s;
}

.movie-details__detail {
    background-color: #262626;
    min-height: 250px;
    margin: 0;
    font-size: .929em;
    line-height: 1.4;
    padding: 15px 0;
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;
}
.movie-details__release-date {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.857em;
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 5px;
    font-style: normal;
}
.movie-details__film-formats {
    background-color: #262626;
    border: 1px solid #5c5c5c;
    color: #c9c9c9;
    clear: both;
    text-align: left;
    min-height: 28px;
}

.mop .movie-offer {
    margin-top: 0;
    margin-bottom: 18px;
}

.movie-offer {
    min-width: 100%;
    background-color: #333;
    padding: 10px 10px 20px;
    color: #fff;
    margin: 2px 0 21px;
}

.movie-details__film-formats-header {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 1px 0 0;
    background-color: #5c5c5c;
    color: #c4c4c4;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    text-align: center;
    width: 55px;
}
.movie-details__format {
    display: inline-block;
    margin: 0 0 0 6px;
    height: 26px;
    line-height: 26px;
    font-size: 11px;
    color: #fff;
}
.movie-showtimes{
  margin-top:20px
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.star-rating__star{
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ABABAB;
  transition: color .2s ease-out;
}

.star-rating__star:hover{
    cursor: pointer;
}

.star-rating__star.is-selected{
    color: #FFD700;
}
.checked {
    color: orange;
}
